{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
<div class="jumbotron">
    <div class="container">
        <h1> Successfully logged in...!</h1>
        <h2> please check your Mail-Box</h2>
       <center><button> <a href="{% url 'index' %}">Home Page</a> </button></center>

    </div>
</div>

</body>
</html>